.popup__input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  width: 238px;
  border: none;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  
}

@media screen and (min-width: 768px) {
  .popup__input {
    width: 358px;
  }
}



.popup__input:not(:focus):invalid {
  border-bottom: 1px solid #FF0000;
  outline: none;
}

