.profile__add-button {
  background: url(../../../images/Add\ Button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 282px;
  height: 50px;
  border: 2px solid white;
  color: #ffffff;
  border-style: none;
  border-radius: 2px;
  margin: 36px auto 0;
}

@media screen and (min-width: 1280px) {
  .profile__add-button {
    background: url(../../../images/Add\ Button\ 150.svg);
    width: 150px;
    margin: auto 0 auto auto;
    
  }
}
